<h1>Login Page</h1>
<div class="formWeapper">
    <form enctype="multipart/form-data" action="/home/login" method="post">
        <div class="row mt-5">
            <input type="text" name="email" placeholder="email" />
        </div>
        <div class="row mt-5">
            <input type="password" name="password" placeholder="password" />
        </div>
        <div class="row mt-5">
            <input type="submit" />
        </div>
    </form>
    <a href="/home/register">Register Page</a>
</div>