<h1>Register Page</h1>
<div class="formWeapper">
    <form enctype="multipart/form-data" action="/home/register" method="post">
        <div class="row mt-5">
            <input type="text" name="userName" placeholder="userName" />
        </div>
        <div class="row mt-5">
            <input type="email" name="email" placeholder="email" />
        </div>
        <div class="row mt-5">
            <input type="password" name="password" placeholder="password" />
        </div>
        <div class="row mt-5">
            <input type="submit" />
        </div>
    </form>
    <a href="/home/login">Login Page</a>
</div>